@import url('https://fonts.googleapis.com/css2?family=Cardo&family=Questrial&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {  
  background-color: #feffff;
  font-family: 'Questrial', sans-serif;
  font-size: 1.3rem;
}

header {
  color: #000; 
  font-family: 'Cardo', serif;
  font-size: 2.5rem;
  font-weight: bold;
  text-align: left;
}

#main-doc header {
  background: linear-gradient(45deg, #feffff, #2b7a78);
  color: #000; 
  text-align: left;
}


/* Navbar */

#navbar {
  background-color: #3aafa9;
  height: 100%;  
  left: 0px;  
  min-width: 250px;
  padding-left: 35px;  
  padding-top: 25px;  
  position: fixed;
  top: 0px;
  width: 300px;
}

#navbar a {
  color: #fff; 
  text-decoration: none;  
}

#navbar a:hover {
  color: #000;
}

#navbar ul {
  overflow-y: auto;
  overflow-x: hidden;
}

#navbar li {
  font-size: 1.5rem;
  list-style: none;
  padding-top: 10px;
  text-align: left;
}


/* Main Partition */

#main-doc {
  height: 100%;
  margin-left: 310px;  
  padding: 25px;
  position: absolute;
  text-align: left;
}

section {
  padding-bottom: 50px;
}

p {
  color: #555;
  line-height: 1.5;
  padding: 20px 0;
}

code {
  background-color: #eaeaea;
  border-radius: 5px;  
  box-shadow: inset 0 0 3px #000000;  
  display: block;  
  font-size: 1.1rem;
  font-weight: 100;
  margin: 0 50px 25px 50px;
  padding: 25px 10px;
}

#main-doc ul {
  padding-left: 40px;
}

#main-doc li {
  font-size: 1.2rem;
  line-height: 1.4;
  padding-bottom: 15px;
}

.define {
  background-color: #ffc;
  font-weight: bold;  
  letter-spacing: 0.1em;
  padding: 3px;
}

#Reference {
  padding-bottom: 50px;
}


@media (max-width: 800px) {
  #navbar {
    padding: 0;    
    position: absolute;
    margin: 0;
    max-height: 250px;       
    top: 0; 
    width: 100%;
  }
  
  #navbar ul {
    height: 180px;
  }
  
  #navbar li {
    padding-bottom: 0px;
    padding-left: 25px;    
  }
  
  #navbar > header {  
    background: linear-gradient(180deg, #3aafa9, #3aafa9, #3aafa9, #2b7a78);
    border-bottom: 1px solid #000;
    padding-top: 15px;
    text-align: center;
  }

  #main-doc {
    margin: 250px auto 0 auto;
    position: relative;
  }
  
  #main-doc ul {
  padding-left: 20px;
}
  
  code {
    margin: 5px auto 15px auto;
    padding: 20px; 
  }
}

@media (max-width: 800px) {
  code {
    line-height: 1.4;
  }
}


